header{
    display: flex;
    /*border: 1px solid black;
    background-color: lightgray;*/
    grid-column-start: 1;
    grid-column-end:6;
    grid-row-start: 1;
    grid-row-end: 1; 
    justify-content: space-between;
    align-items: center;  
}
aside{
  /*  background-color:lightgreen;
    border: 1px solid black;*/
    grid-column-start: 1;
    grid-column-end:2;
    grid-row-start:2;
    grid-row-end:5;
}
aside > a> img{
    padding-bottom:10px ;
}

main{
    display: grid;
    grid-template-columns: 160px repeat(4, 1fr);
    grid-template-rows: 60px repeat(4, 200px);
    background-color:white ;
    gap: 30px;  
}   

a{
    text-decoration: none;
}
p{
    font-size: 0.8em;
    width: 190px;
    color: black;
    margin: 0;
    margin-left: 5px;
    display: inline;
    position:absolute;
}
.busca{
    border: 1px solid black;
    border-radius: 2px;
    width: 400px;
    height: 45px;
    display:flex;
    align-items: center;
  
    
}
input{
    height: 40px;
    width:348px;
    outline: none;
    text-decoration: none;
}
.lupa{
 padding-left: 7px;
}
.thumb{
    width: 260px;
    height: 150px;   
}
.avatar{
    width: 40px;
    height: 40px;
    display: inline-block;
}